.hero {
  margin-bottom: 168px;
}
.hero__container {
  background-image: url("../images/about/desktop/image-hero-whitecup.jpg");
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 137px 85px;
}

.hero__content {
  width: 445px;
  color: var(--Light-Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  width: 445px;
}
.hero__title {
}
.hero__description {
  width: 445px;
}

.commitment {
  margin-bottom: 256px;
}
.commitment__container {
  display: flex;
  gap: 125px;
  align-items: center;
  justify-content: center;
}

.commitment__img {
  border-radius: 8px;
}
.commitment__content {
  width: 100%;
  max-width: 540px;
}
.commitment__title {
  margin-bottom: 32px;
}
.commitment__description {
  width: 539px;
}

.quality {
  margin-bottom: 168px;
}
.quality__container {
  background-color: var(--footer-bg);
  padding-left: 85px;
  display: flex;
  padding-bottom: 88px;
}

.quality__content {
  width: 100%;
  max-width: 540px;
  margin-top: 88px;

  color: var(--Light-Cream);
}
.quality__title {
  margin-bottom: 32px;
}
.quality__description {
  opacity: 0.8;
}
.quality__img {
  margin-top: -88px;
  border-radius: 8px;
  margin-left: 125px;
}

/* BRANCHES START */

.branches {
  margin-bottom: 168px;
}
.branches__container {
  width: 100%;
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.branches__title {
  margin-bottom: 72px;
  color: var(--Grey);
}
.branches__list {
  display: flex;
  gap: 95px;
}
.branches__item {
}
.branches__item__image {
  margin-bottom: 45px;
}
.branches__item__title {
  margin-bottom: 24px;
  width: 285px;
}
.branches__item__phone {
  color: inherit;
}
.branches__item__phone:hover {
  color: var(--button-hover);
}
